title{color: yellowgreen;
}
head{
	background-color:pink;
}
body{
	background-color:pink; 
}
 h2{
	text-align:center;
}

form{
	border: 1px solid rgb(255, 192, 102);
	width:650px;
	height:450px;
	margin:auto;
	background-color:rgb(233, 190, 156);
}

#ls{
	border: 1px solid rgb(120, 50, 2);
	padding:5px;
	background-color:yellowgreen;
	width:620px;
	height:40px;
	margin:auto;
	
		margin-top:200px;
}

